@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap'); /* font-family

/*Mobile design*/
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: hsl(218, 23%, 16%);
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family: Manrope;
}

.container{
    background-color: hsl(217, 19%, 24%);
    border-radius: 10px;
    box-shadow: 0 0 10px hsl(218, 23%, 16%);
    padding: 2.5em 1.5em 0 1.5em;
}

#advice-id-container{
    color: hsl(150, 100%, 66%);
    font-size: 14px;
}
.advice-text{
    font-size: 28px;
    color: hsl(193, 38%, 86%);
    padding: 25px 0;
}

.pattern-img-container{
    display: flex;
    justify-content: center;
}

.pattern-divider-desktop{
    display: none;
}

.icon-dice-svg{
    padding: 15px;
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    position: relative;
    top: 30px;
    cursor: pointer;
}
.icon-dice-svg:active{
    box-shadow: 0 0 20px hsl(150, 100%, 66%);
}

@media only screen and (min-width: 768px){
    .pattern-divider-desktop{
        display: unset;
    }
    .pattern-divider-mobile{
        display: none;
    }

    .container{
        width: 500px;
    }
}